* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url("../../assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.input-group {
  padding: 2em 2em 0em 2em;
}

.btn {
  background-color: rgb(67, 73, 46);
  color: white;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 0em 2em 2em 2em;
}

.table {
  margin: 2em auto 0 auto;
  width: 80vw;
}

.check {
  padding: 1em;
}

.linha {
  background-color: rgb(203, 255, 126);
}
